:root {
  --main-font-family: sans-serif;

  --white: #fff;
  --gray-1: #faf9f9;
  --gray-2: #c9c9c9;

  --theme-blue-main: #151E3F;
  --theme-dark-main: #030027;
  --theme-gray-main: #96939b;
  --theme-purple-main: #564256;
  --theme-yellow-main: #f2f3d9;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font-family);
  &:hover {
    border-color: var(--gray-2);
  }

  &:focus {
    outline: var(--gray-2);
  }
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translatey(100px);
  }
  100% {
      opacity: 1;
      transform: translate(0);
  }
}