:root {
  --main-font-family: 'Open Sans', sans-serif;

  --white: #fff;
  --gray-1: #faf9f9;
  --gray-2: #c9c9c9;
  --gray-3: #a2a2a2;

  --delete-color: #c12020;

  --theme-blue-main: #151E3F;
  --theme-dark-main: #030027;
  --theme-gray-main: #96939b;
  --theme-purple-main: #564256;
  --theme-yellow-main: #f2f3d9;

  --blue-1: #19173a;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font-family);

  &:focus {
    outline: var(--gray-2);
  }
  button:hover, img:hover {
    cursor: pointer;
  }

  ::-webkit-datetime-edit { padding: 0.3rem; }
  ::-webkit-clear-button, 
  ::-webkit-clear-button{right:1.54em;}
  ::-webkit-inner-spin-button{-webkit-appearance: none; margin:0;}
  ::-webkit-calendar-picker-indicator{right:0; padding: 0.539em 0.34em;}

}

// MAIN DELETE BUTTON
.modal-info-delete-btn {
  padding: 5px;
  margin: 0.3rem;
  font-size: 1rem;
  border-radius: 5px;
  color: var(--delete-color);
  background-color: inherit;
  border-radius: 7px;
  justify-content: flex-end;
  border-style: none;
}

// MAIN EDIT BUTTON
.edit-btn {
  border-style: none;
  background-color: inherit;

  svg {
    color: var(--gray-7);
  }
}

// MAIN ADD BUTTON
.add-btn {
  background-color: transparent;
  border-style: none;
}
.add-btn:hover {
  cursor: pointer;
}

// MAIN FORM CONTENT CONTAINER
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}


@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translatey(100px);
  }
  100% {
      opacity: 1;
      transform: translate(0);
  }
}