:root {
  --main-font-family: 'Open Sans', sans-serif;

  --white: #fff;
  --gray-1: #faf9f9;
  --gray-2: #c9c9c9;

  --theme-blue-main: #151E3F;
  --theme-dark-main: #030027;
  --theme-gray-main: #96939b;
  --theme-purple-main: #564256;
  --theme-yellow-main: #f2f3d9;
}

.main-form-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  overflow: auto;

  .contact-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .form-heading {
      margin: 1rem 4rem;
      padding: 5px 10px;

    }
  }
  .contacts {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 2rem 4rem;
    width: 100%;

    .contact-card {
      display: flex;
      padding: 1rem;
      flex-direction: column;
      min-width: 15rem;
      max-width: 25rem;
      margin: 1.5rem 2rem;
      border-style: solid;
      border-width: 1px;
      border-radius: 7px;
      border-color: var(--gray-5);
      background-color: var(--gray-6);
      box-shadow: 3px 4px 20px 0px #e0e0e094;

      .contact-content {
        display: flex;
        align-items: center;

        h4 {
          margin-right: 10px;
          width: 100px;
        }
       
      }
      .desc {
        flex-direction: column;
        align-items: flex-start;
      }

      h3 {
        width: 100%;
      }

      li, h4 {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0;
        flex-direction: column;
      }
    }
  }
}

.contact-form {
  h3 {
    width: 140px;
  }
}

.contact-btns {
  display: flex;
  align-self: flex-end;
  margin-top: 1rem;
}

.block {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 550px) {
  .main-form-container {
    width: 100%;
    max-width: 360px;
    overflow: auto;
    display: block;
    margin: 0 auto;
    
    .contact-container {
      justify-content: space-around;
      display: block;  

      h2.form-heading {
        margin: 1rem;
        align-items: center;
        min-height: 80px;
      }
    } 
    .contacts {
      margin: 1rem 0 0 0;
      width: 100%;
      position: relative;

      .contact-card {
        min-width: 300px;
        max-width: 100%;

        .contact-content {
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
}

  .contacts {
    margin: 1rem;
    justify-content: center;
  }

  .contact-form {
    min-height: fit-content;
  }

  .block {
    display: block;
    width: 100%;
    position: relative;
  }

}