:root {
  --main-font-family: sans-serif;

  --white: #fff;
  --gray-1: #faf9f9;
  --gray-2: #c9c9c9;

  --theme-blue-main: #151E3F;
  --theme-dark-main: #030027;
  --theme-gray-main: #96939b;
  --theme-purple-main: #564256;
  --theme-yellow-main: #f2f3d9;
}
.contacts {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  li {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    flex-direction: column;
  }
}

.contact-btns {
  display: flex;
  margin: 10px 0;

  button {
    padding: 5px;
    margin-right: 5px;
  }
}
