:root {
  --main-font-family: 'Open Sans', sans-serif;

  --white: #fff;
  --gray-1: #faf9f9;
  --gray-2: #c9c9c9;

  --theme-blue-main: #151E3F;
  --theme-dark-main: #030027;
  --theme-gray-main: #96939b;
  --theme-purple-main: #564256;
  --theme-yellow-main: #f2f3d9;
}

.main-dashboard-container {
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  .dashboard-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .board-link {
    margin: 3rem;
    display: flex;
    justify-content: space-around;  
    
    a {
      text-decoration: none;
      margin: 2rem 0;
    }
  }
}

.main-logo-img {
  height: 30px;
  // position: fixed;
  //   left: 85%;
  //   bottom: 93%;
}
.main-logo-text {
  width: 185px;
  margin-left: 18%;
  
}
.dashboard-heading {
  display: none;
}

  @media screen and (max-width: 550px) {
    .main-dashboard-container {
      .board-link{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
      }
    }
    .dashboard-heading {
      display: flex;
      color: var(--gray-7);
      font-weight: 600;
      font-size: 2rem;
      letter-spacing: 2px;
      padding: 15px;
      background-color: var(--blue-4);
      justify-content: space-around;
      align-items: center;

      .heading-container {
        margin-right: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h4 {
          font-size: 1rem;;
        }
      }
     
    }

    .dashboard-img {
      
    }

    .recharts-wrapper, svg.recharts-surface {
      width: 300px !important;
      height: 200px !important;
    }
  } 