.delete-confirmation-container {
  position: fixed;
  z-index: 500;
  background-color: var(--white);
  width: 480px;
  border-radius: 7px;
  height: 200px;
  box-shadow: 2px 1px 20px 0px #5f5f5f94;
  padding: 16px;
  left: calc(50% - 225px);
  top: 8%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  animation-name: moveInBottom; /*defined*/
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
}
.delete-header {
  color: var(--gray-7);
  padding: 2rem;
}

.modal-yes {
  padding: 5px;
  margin: 0.3rem;
  font-size: 1rem;
  border-radius: 5px;
  color: var(--blue);
  background-color: inherit;
  border-radius: 7px;
  justify-content: flex-end;
  border-style: none;
}

@media screen and (max-width: 550px) {
  .delete-confirmation-container {
    position: fixed;
    z-index: 500;
    background-color: var(--white);
    height: 200px;
    width: 80%;
    box-shadow: 2px 1px 20px 0px #5f5f5f94;
    padding: 16px;
    left: calc(50% - 40%);
    top: 30%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation-name: moveInBottom; /*defined*/
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
  }
  }

