:root {
  --main-font-family: 'Open Sans', sans-serif;

  --white: #fff;
  --gray-1: #faf9f9;
  --gray-2: #c9c9c9;

  --theme-blue-main: #151E3F;
  --theme-dark-main: #030027;
  --theme-gray-main: #96939b;
  --theme-purple-main: #564256;
  --theme-yellow-main: #f2f3d9;
}
.main-homeNav-container{
    display: none;
    color: #dfeaff;
    background-color: var(--theme-gray-main);

  h1 {
    font-weight: 600;
    font-size: 2.2rem;
    padding: 10px;
    letter-spacing: 2px;
    margin: 0 1.5rem;
  }
}