:root {
  --color-5: rgb(255, 255, 255);
}

.main-home-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  flex-grow: 1;
  // font-family: var(--main-font-family);
}

.main-sidebar-container {
  display: flex;
  justify-content: flex-start;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  box-sizing: border-box;
  width: 200px;
  background-color: var(--color-5);
}

.main-listContainer {
  flex: 1;
}

.mobile-menu-container { 
  display: none;
}

@media screen and (max-width: 550px) {
  .main-sidebar-container {
    display: none;
  }

  .mobile-menu-container {
    display: flex;
    position: fixed;
    background-color: rgb(107, 43, 210);
    width: 40px;
    height: 40px;
    z-index: 20;
    left: 2.6rem;
    top: 85%;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    box-shadow: rgba(7, 7, 7, 0.27) 0px 4px 10px;
    border: 1px solid rgb(255, 255, 255);
}

 
}