:root {
  --main-font-family: 'Open Sans', sans-serif;

  --white: #fff;
  --gray-1: #faf9f9;
  --gray-2: #c9c9c9;
  --gray-3: #a2a2a2;

  --theme-blue-main: #151E3F;
  --theme-dark-main: #030027;
  --theme-gray-main: #96939b;
  --theme-purple-main: #564256;
  --theme-yellow-main: #f2f3d9;
}

.main-home-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  flex-grow: 1;
  flex-shrink: 1;
  // font-family: var(--main-font-family);
}
// .main-phome-container {
//   display: flex;
//   flex-direction: row;
//   flex-grow: 1;
//   flex-shrink: 1;
// }

.main-sidebar-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  box-sizing: border-box;
  width: 140px;
  border-radius: 7px;
  background-color: var(--gray-1);
}

.main-listContainer {
  flex: 1;
}

.mobile-menu-container { 
  display: none;
}

@media screen and (max-width: 550px) {
  .main-sidebar-container {
    display: none;
  }

  .mobile-menu-container {
    display: flex;
    position: fixed;
    background-color: var(--gray-3);
    width: 40px;
    height: 40px;
    z-index: 20;
    left: 25px;
    top: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    box-shadow: rgba(7, 7, 7, 0.27) 0px 0px 4px;
}

 
}