:root {
  --main-font-family: 'Open Sans', sans-serif;

  --white: #fff;
  --gray-1: #faf9f9;
  --gray-2: #c9c9c9;
  --gray-5: #e6e6e6;

  --theme-blue-main: #151E3F;
  --theme-dark-main: #030027;
  --theme-gray-main: #96939b;
  --theme-purple-main: #564256;
  --theme-yellow-main: #f2f3d9;

  --blue: #2d3a66;
  --blue-3: #5e55c3;
  --dark-blue: #070059;
  --dark-purple: #3d1a68;
  --purple: #5e2d5e;
  --beige: #C7C7B2;
  --red: #da5740;
}


div.interviews-card {
  list-style: none;
  display: flex;
  align-items: left;
  border-radius: 7px;
  min-width: 14rem;
  max-width: 14rem;
  margin: 1.5rem 1rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 7px;
  border-color: var(--gray-5);
  background-color: var(--gray-6);
  box-shadow: 3px 4px 20px 0px #e0e0e094;
  flex-direction: column;
  justify-content: space-between;
}

div.interviews-content {
  display: flex;
  flex-direction: column;
  padding: 1rem; 
  width: 100%;

  p, h2 {
    margin: 0.3rem;
  }
}

.interview-cards-container {
  display: flex;
  margin: 2rem 4rem;
  width: calc(100% - 8rem);
  justify-content: center;

  div.interview-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 1rem;
    width: 100%;
  }
}

.notes-container {
  width: 100%;
  
  .add-btn {
    margin: 1rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .interview-heading-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    h2, button {
      margin: 1rem;
    }
  }

  .interview-cards-container {
    width: calc(100% - 2rem);
    margin: 1rem;

    div.interview-card-container {
      justify-content: center;
      margin: 0;

      .interviews-card {
        max-width: 16rem;
        min-width: 14rem;
      }
    }
  } 
}