:root {
  --color-card-text1: rgb(255, 255, 255);
  --color-card-text2: rgb(186, 186, 186);
}

$blue: #1464dc;
$green: #00aea2;
$orange: rgb(215, 75, 0);
$purple: rgb(95, 58, 229);

$colors: $blue, $green, $orange, $purple;

$key: random( length($colors) );
$nth: nth( $colors, $key );

$main-card-color: $nth !default;

// @mixin background-card($i) {
//   background: $i;
//     &:nth-child(#{$i}) { background: $i; }
// }

@mixin background-card($c, $y) {
  background: $c;
  @for $i from 1 through $y {
    $k: 3%;
    $j: $i - 1;

    @if $i == 1 {
      &:nth-child(#{$i}) { background: $c; }
    }
    @else {
      &:nth-child(#{$i}) { background: darken($c, ($k * $j)); }
    }
  }
}

.job-card {
  list-style: none;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 10px;
  @include background-card($main-card-color, 10);
  // div {
  //   width: inherit;
  // }
  div.card-content {
    width: 100%;
    display: flex;
  }

  ul {
    list-style: none;
    width: 100%;
    color: var(--color-card-text);
  }
  li:visited {
    color: var(--color-card-text);
  }
  li.card-title {
    padding: 1rem 2rem;
    font-size: 1.3rem;
    color: var(--color-card-text1);
  }

  div.container-card-meta {
    padding-bottom: 1rem;
  }

  li.card-meta {
    padding: 0.3rem 2rem;
    color: var(--color-card-text2)
  }

  button.job-card-delete {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-end;
    border-style: none;
    padding: 0.3rem;
    margin: 1rem 1.2rem;
    // top: 13rem;
    // right: rem;
    // left: 15%;
    color: var(--color-card-text1);
    background-color: inherit;
  }
}
