:root {
  --main-font-family: sans-serif;

  --white: #fff;
  --gray-1: #faf9f9;
  // --gray-2: #c9c9c9;
  --gray-4: #ebebec;

  --theme-blue-main: #151E3F;
  --theme-dark-main: #030027;
  --theme-gray-main: #96939b;
  --theme-purple-main: #564256;
  --theme-yellow-main: #f2f3d9;

  --blue: #2d3a66;
  --dark-blue: #070059;
  --dark-purple: #3d1a68;
  --purple: #5e2d5e;
  --red: #da5740;


}
.job-title-heading {
  margin: 1rem 3rem;
  font-size: 2rem;
  color: var(--dark-purple);
}
.jobview-form {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 1rem 0;
  font-size: 0.8rem;
  font-weight: 200;

  h2 {
    margin: 1.5rem 0;
    font-size: 2rem;
  }
  div.all-inputs {
    flex-direction: column;
    margin-left: 3rem;
    display: flex;
    flex-grow: 1;

    div.form-input {
      display: flex;
      flex-direction: row;
    }
  }
  
  input {
    background-color: var(--gray-4);
    border: none;
    padding: 0.3rem;
    border-radius: 5px;
    transition: all .2s;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    margin: 0.2rem;
    font-size: 0.8rem;
    width: 18rem;
  }

  textarea {
    background-color: var(--gray-4);
    border-radius: 5px;
    border: none;
    padding: 0.3rem;
    margin: 0.2rem;
    width: 29rem;
    height: 6rem;
  }

  select {
    background-color: var(--gray-4);
    border: none;
    padding: 0.3rem;
    margin: 0.2rem;
    width: 7rem;
  }

  h3 {
    width: 140px;
    font-weight: 400;
    margin: 0.3rem 0 1rem;
  }
}

.desc {
  margin-top: 1.3rem;
}

.jobinfo-save-btn {
  margin: 0 3rem;
}