:root {
  --color-card-text1: rgb(255, 255, 255);
  --color-card-text2: rgb(186, 186, 186);
  --color-main-theme: rgb(107, 43, 210);
}

.job-card {
  list-style: none;
  display: flex;
  align-items: center;
  background-color: var(--color-main-theme);
  border-radius: 5px;
  margin: 10px;

  // div {
  //   width: inherit;
  // }
  div.card-content {
    width: 100%;
  }

  ul {
    list-style: none;
    width: 100%;
    color: var(--color-card-text);
  }
  li:visited {
    color: var(--color-card-text);
  }
  li.card-title {
    padding: 1rem 2rem;
    font-size: 1.3rem;
    color: var(--color-card-text1);
  }

  li.card-meta {
    padding: 0.3rem 2rem;
    color: var(--color-card-text2)
  }

  button {
    z-index: 2;
    border-style: none;
    padding: 0.3rem;
    margin: 0.6rem;
    position: absolute;
    color: var(--color-card-text1);
    background-color: inherit;
  }
}
