:root {
  --main-font-family: 'Open Sans', sans-serif;

  --white: #fff;
  --gray-1: #faf9f9;
  --gray-2: #c9c9c9;

  --theme-blue-main: #151E3F;
  --theme-dark-main: #030027;
  --theme-gray-main: #96939b;
  --theme-purple-main: #564256;
  --theme-yellow-main: #f2f3d9;
}
.new-job {
  position: fixed;
  z-index: 500;
  background-color: var(--white);
  box-shadow: 2px 1px 20px 0px #5f5f5f94;
  border-radius: 7px;
  padding: 16px;
  left: calc(50% - 175px);
  min-width: 350px;
  top: 8%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  animation-name: moveInBottom; /*defined*/
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;

  .new-heading {
    margin: 1rem 0 2rem 0;
    display: flex;
    align-self: center;
  }
  .new-form {
    width: calc(100% - 1rem);
    margin: 1rem;
    align-self: center;
  }
}

@media screen and (max-width: 550px) {
  .new-job {
    .new-heading {
      margin: 0;
      min-height: 50px;
    }
  }

  .new-job {
    .new-form {
      margin: 0.3rem;
    }
  }
}

