:root {
  --main-font-family: 'Open Sans', sans-serif;

  --white: #fff;
  --gray-1: #faf9f9;
  --gray-2: #c9c9c9;

  --theme-blue-main: #151E3F;
  --theme-dark-main: #030027;
  --theme-gray-main: #96939b;
  --theme-purple-main: #564256;
  --theme-yellow-main: #f2f3d9;
}

$default-card-color: #050044 !default;

// $colors1: 
//   #7a0d9b, 
//   #cd3a50,
//   #c79106, 
//   #189ad2, 
//   #d25511, 
//   #4954e6;

.job-card {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 10px;
  background-color: $default-card-color;
  border-radius: 7px;

  div.card-content {
    width: 100%;
    display: flex;
    border-radius: 5px;
  }

  div.card-content:hover {
    cursor: pointer;
  }

  ul {
    list-style: none;
    width: 100%;
    color: var(--gray-2);
  }
  li:visited {
    color: var(--gray-2);
  }
  li.card-title {
    padding: 1rem 2rem;
    font-size: 1.3rem;
    color: var(--white);
  }

  div.container-card-meta {
    padding-bottom: 1rem;
    letter-spacing: 1px;
  }

  li.card-meta {
    padding: 0.3rem 2rem;
    color: var(--gray-2)
  }

  button.job-card-delete {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-end;
    border-style: none;
    padding: 0.3rem;
    font-size: 1rem;
    margin: 1rem 4rem;
    color: var(--delete-color);
    background-color: var(--white);
    border-radius: 7px;
    letter-spacing: 1px;
    border-style: solid;
    border-color:var(--delete-color);
    border-width: 2px;
  }
}

.job-card-delete-mobile {
  display: none;
}

@media screen and (max-width: 550px) {
  .job-card {
    button.job-card-delete {
      display: none;
    }
  }
  .job-card-delete-mobile {
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: flex-end;
    align-self: center;
    border-style: none;
    padding: 0.3rem;
    font-size: 1rem;
    margin: 1rem 4rem;
    color: var(--delete-color);
    background-color: var(--white);
    border-radius: 7px;
    letter-spacing: 1px;
    border-style: solid;
    border-color:var(--delete-color);
    border-width: 2px;
    min-height: fit-content;
  }
}
