:root {
  --color-1: #faf9f9;
  --color-2:  #cdc5ff;
}

.list-container {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
  height: 100%;

  .list {
    height: inherit;
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-2);
    background-color: var(--color-1);
  }
}
