:root {
  --color-card-text1: rgb(255, 255, 255);
  --color-card-text2: rgb(186, 186, 186);
  --color-card-back: #7a31b4
}


.list-component-container {
  display: flex;
  flex-direction: column;
}

.list-header {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 18rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 1.7rem;

  .render-jobs {
    width: 95%;
  }
}

.new-job-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
  padding: 0.7rem;
  padding: 0.5rem;
  border-style: none;
  background-color: var(--color-card-text1);
}
