:root {
  --main-font-family: 'Open Sans', sans-serif;

  --white: #fff;
  --gray-1: #faf9f9;
  --gray-2: #cfcdd1;

  --theme-blue-main: #151E3F;
  --theme-dark-main: #030027;
  --theme-gray-main: #96939b;
  --theme-purple-main: #564256;
  --theme-yellow-main: #f2f3d9;

  --blue-1: #19173a;
  --blue-4: #b4bfdf;
}

// $blue: #3ea5ce;
// $green: #34c291;
// $color1: #151e3f;
// $color2: #030027;
// $color3: #564256;
// $color4: #96939b;

// $colors: $color1, $color2, $color3;

// $key: random( length($colors) );
// $nth: nth( $colors, $key );

// $main-color: $nth !default;


// @mixin backgrounds($i) {
//   background: $i;
//     &:nth-child(#{$i}) { background: $i; }
// }

.list-container {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
  height: 100%;
  height: calc(100vh - 67px);
  box-sizing: border-box;
  overflow: auto;
  background-color: var(--gray-2);
  

  h1.job-board-heading-mobile {
    display: none;
  }
  .list {
    background-color: var(--gray-1);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 7px;
  }
}

@media screen and (max-width: 550px) {
  .home-container {
    display: flex;
    flex-grow: 1;
  }

  .list-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    background-color: var(--blue-4);

    h1.job-board-heading-mobile {
      display: flex;
      color: var(--white);
      font-weight: 600;
      font-size: 2rem;
      letter-spacing: 2px;
      margin: 15px 10px;
      text-transform: uppercase;
    }

    .list {
      width: 85%;
      .list-component-container {
        width: 100%;
      }
    }
  }

  .main-homeNav-container {
    display: none;
  }
}
