:root {
  --main-font-family: 'Open Sans', sans-serif;

  --white: #fff;
  --gray-1: #faf9f9;
  --gray-2: #c9c9c9;

  --blue-2: #878EA5;

  --theme-blue-main: #151E3F;
  --theme-dark-main: #030027;
  --theme-gray-main: #96939b;
  --theme-purple-main: #564256;
  --theme-yellow-main: #f2f3d9;
}


.list-component-container {
  display: flex;
  flex-direction: column;
}

.list-header {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  align-self: center;
  height: 100%;
  width: 18rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 1.7rem;
  color: var(--blue);

  .render-jobs {
    width: 95%;
  }
}

.new-job-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.2rem 0.5rem;
  padding: 0.7rem;
  padding: 0.5rem;
  border-style: none;
  border-radius: 5px;
  background-color: transparent;
  color: var(--blue);
  border-style: solid;
  border-width: 2px;
  border-color: var(--blue);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
}

