//// LOGIN MAIN ///////////////
* {
  box-sizing: border-box;
}

.login-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
  margin: 10rem 0;

  h1 {
    font-family: sans-serif;
  }
}

.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  input {
    margin: 10px;
    box-sizing: inherit;
  }

  
}

