:root {
  --main-font-family: 'Open Sans', sans-serif;

  --white: #fff;
  --gray-1: #faf9f9;
  --gray-2: #c9c9c9;
  --gray-3: #a2a2a2;

  --theme-blue-main: #151E3F;
  --theme-dark-main: #030027;
  --theme-gray-main: #96939b;
  --theme-purple-main: #564256;
  --theme-yellow-main: #f2f3d9;
}
.mobile-menu {
  width: 100%;
  height: 100%;
  display: flex;
}

.menu {
  width: inherit;
  ul.dropdown {
    min-width: 170px;
    position: relative;
    top: 13px;
    background-color: var(--gray-3);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 10px 25px 20px 20px;
    box-shadow: rgba(7, 7, 7, 0.27) 0px 4px 10px;
    border-radius: 7px;
    right: 10px;

    a, a:visited {
      padding: 5px;
      text-decoration: none;
      color: var(--white);
      letter-spacing: 2px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 5px;
    }
  }

  .arrow-up {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid var(--gray-3);
    position: relative;
    bottom: 19px;
    right: 2px;
  }
}

svg.menu-svg {
  fill: var(--white);
  width: 90%;
  height: 90%;
  align-self: center;
  margin: 0 auto;
}

.menu-svg.toggle {
  fill: var(--white);
  width: 90%;
  height: 100%;
  align-self: center;
  margin: 0 auto;
  display: flex;
}

.mobile-icon {
  width: 25px;
  height: 25px;
  margin-right: 15px;
  fill: var(--white);
}