:root {
  --main-font-family: 'Open Sans', sans-serif;

  --white: #fff;
  --gray-1: #faf9f9;
  --gray-6: #ececec;
  --gray-2: #cfcdd1;
  --gray-7: #5a5a5a;

  --theme-blue-main: #151E3F;
  --theme-dark-main: #030027;
  --theme-gray-main: #96939b;
  --theme-purple-main: #564256;
  --theme-yellow-main: #f2f3d9;

  --blue: #2d3a66;
  --dark-blue: #070059;
  --dark-purple: #3d1a68;
  --purple: #5e2d5e;
  --red: #da5740;
}

.main-modal-container {
  position: fixed;
  display: flex;
  align-content: center;
  flex-direction: column;
  z-index: 500;
  background-color: var(--white);
  border-radius: 7px;
  box-shadow: 2px 1px 20px 0px #5f5f5f94;
  top: 2%;
  box-sizing: border-box;
  overflow: auto;
  width: 75%;
  max-height: 95%;
  min-height: 370px;
  left: calc(50% - 37.5%);

  animation-name: moveInBottom; /*refers to @keyframes name*/
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  }

  .tab-list {
    display:flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    height: 60px;
    background-color: var(--blue);
    font-weight: 400;
    letter-spacing: 1px;
    z-index: 99;
  }

  .tab-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    color: var(--gray-7);
  }

  .react-tabs__tab{
    color: #fff;
  }

  .react-tabs__tab--selected {
    border-bottom: 2px solid;
    line-height: 2;
  }

  .modal-info-icon{
    padding-right: 5px;
    display: flex;
    align-items: center;
  }

  .modal-info-icon:hover {
    cursor: pointer;
  }

  .modal-svg {
    margin: 0 .3rem;
    width: 20px;
    height: 20px;
  }

  @media screen and (max-width: 550px) {
    // body {
    //   position: fixed;
    //   width: 100%;
    // }
    .main-modal-container {
      width: 90%;
      left: 5%;
      top: 5%;
      height: 90%;
      overflow-y: auto;
      display: flex;
      align-content: center;
      flex-direction: column;
    } 

    .modal-info-icon{
      padding: 0;
      p {
        display: none;
      }
    }

    .modal-svg {
      margin: 0.3rem;
    }
  }

  @media screen and (min-width: 1280px) {
    .main-modal-container {
      max-width: 950px;
      left: calc(50% - 475px);
    }
  }

  @media screen and (min-width: 1280px) and (min-height: 760px) {
    .main-modal-container {
      top: 7%;
    }
  }
