:root {
  --main-font-family: sans-serif;

  --white: #fff;
  --gray-1: #faf9f9;
  --gray-2: #c9c9c9;

  --theme-blue-main: #151E3F;
  --theme-dark-main: #030027;
  --theme-gray-main: #96939b;
  --theme-purple-main: #564256;
  --theme-yellow-main: #f2f3d9;
}
.form-container {
  display: flex;
  align-content: center;
  justify-content: center;
}


// const colors = [
//   "#7a0d9b", purple
//   "#cd3a50", red
//   "#c79106", orange
//   "#12a9ba", teal
//   "#d25511", red orange
//  " #4954e6" blue 
// ];