
.main-notes-container {
  width: 100%;
  .form-container-notes {
    margin: 2rem 4rem;
  }
}

.notes-container {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
}


.notesview-form.info {
  margin: 0;
  width: inherit;
  display: flex;
  flex-direction: column;

  button {
    margin: 1rem 0;
    width: fit-content;
  }
}

textarea {
  background-color: var(--gray-4);
  border-radius: 5px;
  border: none;
  padding: 0.3rem;
  margin: 0.2rem;
  max-width: 29rem;
  height: 6rem;
  display: flex;
  flex-grow: 1;
}
.note-inputs {
  display: flex;
}
.note-card {
  border-color: var(--gray-5);
  background-color: var(--gray-6);
  box-shadow: 3px 4px 20px 0px #e0e0e094;
  border-style: solid;
  border-width: 1px;
  list-style: none;
  align-items: center;
  margin: 1rem 2rem;
  border-radius: 5px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   
  .note-content {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
  }
}
.notes-render-container {
  display: flex; 
  flex-wrap: wrap;
  margin: 2rem 4rem;
}
.card-btns-div {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1rem 0.5rem 0.5rem;
  width: inherit;
}
.card-btns-flex {
  display: flex;
  width: 100%;
  flex-direction: row;
}




@media screen and (max-width: 550px) {
  .notes-container {
    align-items: center;
    flex-direction: column;
    min-height: fit-content;
    
    h2.form-heading {
      margin: 1rem;
      align-items: center;
      min-height: 80px;
    }

    button.jobinfo-save-btn {
      margin: 1rem; 
    }
  }

  .main-notes-container {
    .form-container-notes {
      margin: 1rem;
    }
  }

  .notes-render-container {
    margin: 1rem;
    justify-content: center;
  }

  .note-card {
    width: 100%;
    margin: 1rem;
    max-width: 275px;
  }
}