.notes-header {
  margin: 0.6rem 2.3rem;
  font-size: 1.8rem;
  color: var(--blue-3);
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;
}

.main-notes-container {
  width: 100%
}

.notes-container {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
}

.note-save-btn {
  margin-top: 10px;
  margin-left: 5px;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: var(--blue-3);
  color: var(--white);
  border-style: none;
}

// .notes-save-btn {
//   margin: 0.6rem 2.3rem;
//   padding: 0px 35px 0px 35px;
//   font-size: 1rem;
//   border-radius: 5px;
//   background-color: var(--blue-3);
//   color: var(--white);
//   border-style: none;
// }

.notesview-form.info {
  margin: 2rem;
  width: inherit;
  display: flex;
  flex-direction: column;
}

textarea {
  background-color: var(--gray-4);
  border-radius: 5px;
  border: none;
  padding: 0.3rem;
  margin: 0.2rem;
  max-width: 29rem;
  height: 6rem;
  display: flex;
  flex-grow: 1;
}
.note-inputs {
  display: flex;
}
.note-card {
  border-color: var(--gray-5);
  background-color: var(--gray-1);
  box-shadow: 3px 4px 20px 0px #e0e0e094;
  border-style: solid;
  border-width: 1px;
  color: black;
  list-style: none;
  align-items: center;
  margin: 2rem;
  border-radius: 5px;
  width: 25%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   
  .note-content {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
  }
}
.notes-render-container {
  display: flex; 
  flex-wrap: wrap;
}
.card-btn-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
  width: inherit;
}
.card-btns-flex {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.note-card-button {
  padding: 5px 5px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: var(--blue-3);
  color: var(--white);
  border-style: none;
}

@media screen and (max-width: 550px) {
  .notes-container {
    justify-content: space-around;
    h2.notes-header, button.jobinfo-save-btn {
      margin: 1rem;
    }
  }
}