:root {
  --main-font-family: 'Open Sans', sans-serif;

  --white: #fff;
  --gray-1: #faf9f9;
  --gray-2: #c9c9c9;

  --theme-blue-main: #151E3F;
  --theme-dark-main: #030027;
  --theme-gray-main: #96939b;
  --theme-purple-main: #564256;
  --theme-yellow-main: #f2f3d9;
}

.psidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--blue);
  color: #faf9f9;
  padding: 1rem;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;

  .home-sidebar-icons, .logout {
    margin: 1rem 0;
  }

  .board-white {
    width: 40px;
    height: 40px;
    margin: 0;
    fill: var(--white);
  }

}
