:root {
  --main-font-family: sans-serif;

  --white: #fff;
  --gray-1: #faf9f9;
  // --gray-2: #c9c9c9;
  --gray-2: #cfcdd1;

  --theme-blue-main: #151E3F;
  --theme-dark-main: #030027;
  --theme-gray-main: #96939b;
  --theme-purple-main: #564256;
  --theme-yellow-main: #f2f3d9;

  --blue: #2d3a66;
  --dark-blue: #070059;
  --dark-purple: #3d1a68;
  --purple: #5e2d5e;
  --red: #da5740;
}

.profile-container {
  display: flex;
  align-content: center;
}
.new-profile {
  position: fixed;
  z-index: 500;
  background-color: var(--white);
  width: 480px;
  border-radius: 7px;
  height: 530px;
  box-shadow: 2px 1px 20px 0px #5f5f5f94;
  padding: 16px;
  left: calc(50% - 225px);
  top: 8%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  animation-name: moveInBottom; /*defined*/
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;

}
.profile-sidebar {
  padding:0;
}

.profile {
    place-content: center;
    align-items: center;
    height: fit-content;
    padding: 4rem;
    
}

.profileedit {
  place-content: center;
  align-items: center;
  height: fit-content;
  padding: 1.75rem;
  color: var(--blue);
}

.btn {
  background-color: var(--blue);
  border: none;
  padding: 0.3rem;
  border-radius: 5px;
  transition: all 0.2s ease 0s;
  margin: 0.5rem;
  font-size: 0.8rem;
  width: 6rem;
  color: #faf9f9;
}

.edit {
    border: none;
    padding: 0.3rem;
    border-radius: 5px;
    transition: all 0.2s ease 0s;
    margin: 0.2rem;
    font-size: 0.8rem;
    max-width: 36rem;
    display: flex;
}

@media screen and (max-width: 550px) { 

  .profile {
    align-self: center;
    margin: 0 auto;

    h1 {
      margin-top: 0.5rem;
    }
  }
  .new-profile {
    position: relative;
    top: 80px;
    max-width: 350px;
    left: calc(50% - 175px);
  }
  .profileedit {
    margin: 0 auto;
  }
}

@media screen and (max-width: 375px) { 

  .profile {
    align-self: center;
    margin: 0 auto;
    padding: 10px;

    h1 {
      margin-top: 0.5rem;
    }
  }
  .new-profile {
    max-width: 300px;
    max-height: 70%;
    position: relative;
    top: 80px;
    left: calc(50% - 150px);
  }
  .profileedit {
    margin: 0 auto;
    padding: 10px;
  }
}