
.sidebar {
  padding: 3rem;

  h1 {
    margin: 0.5rem 0;
  }
}

.sidebar-mobile {
  display: none;
}

@media screen and (max-width: 550px) {
  .sidebar { 
    display: none;
  }

  .sidebar-mobile {
    display: show;
  }
}
