:root {
  --main-font-family: 'Open Sans', sans-serif;

  --white: #fff;
  --gray-1: #faf9f9;
  --gray-2: #c9c9c9;

  --theme-blue-main: #151E3F;
  --theme-dark-main: #030027;
  --theme-gray-main: #96939b;
  --theme-purple-main: #564256;
  --theme-yellow-main: #f2f3d9;
}

.sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;

  div.home-sidebar-icons {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin: 0.5rem 0;
    }
    svg {
      width: 4rem;
      margin: 2rem 0;
    }
    img.board-icon {
      width: 2.5rem;
      height: 2.5rem;
      margin-top: 1rem;
      margin-bottom: 40vh;
    }

    img.main-logo-img {
      width: 7.5rem;
      height: 7.5rem;
      margin-top: 1rem;
    }
  }
}

.logout {
  display: flex;
  flex-direction: column;
  align-items: center;
}
// .sidebar-radius {
//   border-radius: 7px;
// }

.logout-icon {
  width: 40px;
  height: 40px;
  margin: calc(60%) 0 0 0;
  fill: var(--white);
}

.sidebar-mobile {
  display: none;
}

@media screen and (max-width: 550px) {
  .sidebar { 
    display: none;
  }

  .sidebar-mobile {
    display: show;
  }
}
