
.main-sidebar-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  box-sizing: border-box;
  width: 200px;
  background-color: #9871ff;
}