$default-card-color: #050044 !default;


$color2: #030027;
$color3: #564256;
$color4: #96939B;

$colors: $color4, $color2, $color3;

$key: random( length($colors) );
$nth: nth( $colors, $key );
$main-color: $nth !default;
@mixin backgrounds($i) {
  background: $i;
    &:nth-child(#{$i}) { background: $i; }
}

.task-container {
  width: 45%; 
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: var(--gray-2);
  border-bottom-style: solid;

    h2 {
      color: var(--blue-3);
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 2;
    }

    select.dash-select {
      background-color: transparent;
      width: 65px;
    }
}

.task-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin:  1rem 0;
}

.task-card {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 10px;
  @include backgrounds($main-color);
  // background-color: $default-card-color;
  border-radius: 7px;
  width: 40%;
  color: white;
}

.task-content {
  display: flex;
  flex-direction: column;
  padding: 1.5rem; 
}

@media screen and (max-width: 550px) {
  .task-card-container {
    width: 100%;
    display: flex;

    .task-card {
      width: 90%;
    }
  }
  .task-container {
    width: 90%;
  }

  .heading-container h2 {
    font-size: 1rem;
  }
}
